/vendor
/node_modules
/.env
/.env.backup
/.env.production
/releases
/public/storage
/public/hot
/storage/*.key
/storage/pail
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar
.phpunit.result.cache
.phpactor.json
.DS_Store
Thumbs.db
composer.phar
auth.json
ngrok.mobile.yml
